/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '@angular/material/theming';

@import './styles/app-theme';
@import './styles/api';
// @import './styles/markdown';
@import './styles/tables';
@import './styles/general';
@import './styles/reboot';

@include mat.core();

// Define the default theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

@include app-theme($theme);
@include mat.all-component-themes($theme);

// @include mat.all-component-themes($_theme);
// @include app-theme.theme($_theme);
