/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';

@import './styles/app-theme';
@import './styles/api';
// @import './styles/markdown';
@import './styles/tables';
@import './styles/general';
@import './styles/reboot';

// Define the default theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include mat-core();

@include app-theme($theme);
@include angular-material-theme($theme);

// @include mat.all-component-themes($_theme);
// @include app-theme.theme($_theme);
