@import '~@angular/material/theming';

@import '../app/pages/component-nav/component-nav-theme';
@import '../app/pages/component-list/component-list-theme';
@import '../app/shared/example-viewer/example-viewer-theme';
@import '../app/shared/navbar/navbar-theme';

@import './highlightjs/material-light';
@import './highlightjs/material-dark';

@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $next-theme: mat-palette($mat-red);

    .docs-app-background {
        background: mat-color($background, background);
    }

    .docs-primary-header {
        background: mat-color($primary);

        h1 {
            color: mat-color($primary, default-contrast);
        }
    }

    .docs-footer {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }

    .docs-help-support {
        color: mat-color($foreground, secondary-text);

        a {
            color: mat-color($foreground, text);
        }
    }

    .is-next-version {
        background: mat-color($next-theme, 900) !important;
    }

    @include nav-bar-theme($theme);
    @include component-category-list-theme($theme);
    // @include component-page-header-theme($theme);
    @include component-viewer-nav-theme($theme);
    // @include component-viewer-sidenav-theme($theme);
    // @include home-page-theme($theme);
    @include example-viewer-theme($theme);
    // @include table-of-contents-theme($theme);

    @include highlightjs-material-light();
}
