@mixin nav-bar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-navbar {
        color: mat-color($primary, default-contrast);

        .docs-navbar,
        .docs-navbar-header {
            background: mat-color($primary);

            & a:hover,
            & a:focus {
                background: rgba(0, 0, 0, 0.4);
                color: mat-color($accent, 200);
            }

            .docs-navbar-header-item-selected {
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }
}
